.App {
    text-align: center;
    }
    
    .container {
    margin: 30px auto;
    width: 360px;
    }
    
    .board {
    width: 100%;
    }
    
    .row {
    display: flex;
    }
    
    .square {
    width: 60px;
    height: 60px;
    line-height: 30px;
    background-color: darkgreen;
    padding: 0;
    }
    
    .put-square {
    width: 60px;
    height: 60px;
    line-height: 30px;
    background-color: green;
    }
    
    .player {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    }
    
    .opponent {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    }
    .othello-state {
    text-align: left;
    display: flex;
    background-color: darkgray;
    margin-top: 24px;
    padding: 8px 16px;
    font-size: 24px;
    }
    .result-state {
    display: flex;
    align-items: center;
    margin-right: 24px;
    }
    .player-icon {
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
    }
    .opponent-icon {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
    }